footer.expand
  ul.footer-links
    li
      a(href='https://www.facebook.com/nicholaslum444')
        i.fa.fa-facebook.fa-2x
    li
      a(href='https://www.instagram.com/nicholaslum444')
        i.fa.fa-instagram.fa-2x
