.about {
    background-color: #e0e0e0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.about .section {
    width: 50%;
    margin-bottom: 40px;
}

.about .section h1 {
    padding-bottom: 10px;
    font-family:"lato-light","Helvetica Neue", Helvetica, Arial, sans-serif;
}

.about .section h4 {
    font-family:"lato-bold","Helvetica Neue", Helvetica, Arial, sans-serif;
}

.about .section p {
    padding-bottom: 15px;
}

@media screen and (max-width: 600px) {
    .about .section {
        width: 100%;
        margin-bottom: 20px;
    }
}
