.photos {
    background-color: #e0e0e0;
}

.photos .preamble {
    padding: 0px 20px;
    padding-top: 30px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}

.photos .preamble p {
    padding-bottom: 15px;
}

.photos .grid {
    padding: 30px 10%;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #e0e0e0;
}

.photo {
    display: inline-flex;
    height: 400px;
    width: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    border-radius: 3px;
}

#img1 {
    background-image: url("../photos/img1.jpg");
}

#img2 {
    background-image: url("../photos/img2.jpg");
}

#img3 {
    background-image: url("../photos/img3.jpg");
}

#img4 {
    background-image: url("../photos/img4.jpg");
}

#img5 {
    background-image: url("../photos/img5.jpg");
}

#img6 {
    background-image: url("../photos/img6.jpg");
}

#img7 {
    background-image: url("../photos/img7.jpg");
}

#img8 {
    background-image: url("../photos/img8.jpg");
}

#img9 {
    background-image: url("../photos/img9.jpg");
}

@media screen and (max-width: 600px) {
    .photo {
        margin: 10px;
        height: 200px;
        width: 200px
    }
}
