extends /shared/layout.pug

block content
  .jumbotron
    img.jumbo-bg(src='img/jumbotron-bg.jpg')
    .jumbo-overlay
      h1 Nick Lum
      h3 The Light Outdoors
    .jumbo-overlay.transparent
  .shortcuts
    .col
      .col-img#col1-img
      a.button(href='gallery')
        h4 Featured Photo
    .col
      .col-img#col2-img
      a.button(href='gallery')
        h4 Featured Photo
    .col
      .col-img#col3-img
      a.button(href='gallery')
        h4 Featured Photo
      
    
